*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}



header{
    height: 70px;
    background-color: rgb(36, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

}

header h1{
    color: rgb(255, 251, 0);

}



table{

    border-collapse: collapse;
    
}

table td, table th{
    border: 1px solid #ccc;
    padding: .5rem;
    
}

table th{
    
    background-color: rgb(229, 255, 0);
    font-weight: bold;
}

.add-btn-container {
  
}
.add-btn-container button{
    
    padding: 5px;
    margin: 30px 0 10px;
    
}

.action-btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.edit-btn{
    padding: 4px 15px;
    background-color: #fff;
    
    border: 3px solid yellow;
    border-radius: 5px;
    
    font-weight: bold;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    transition: .3s;
}
.edit-btn:hover{
    cursor: pointer;
    background-color: yellow;
    
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.527);
}



.delete-btn{
    padding: 4px 15px;
    background-color: #fff;
    border: 3px solid #e76363;
    border-radius: 5px;
    
    font-weight: bold;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    transition: .3s;
}
.delete-btn:hover{
    cursor: pointer;
    background-color: #e76363;
    
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.527);
}